---
---

<section class="relative overflow-hidden bg-mauve pt-16 lg:pt-20">
	<div class="pointer-events-none absolute inset-0" aria-hidden="true">
		<div class="absolute top-1/2 right-0 h-112 w-md -translate-y-1/2 translate-x-1/3 rounded-full bg-white/40 blur-3xl"></div>
	</div>

	<div class="relative flex flex-col items-end gap-10 lg:flex-row lg:items-end lg:justify-between">
		<div class="container-page lg:self-start lg:pr-0">
			<blockquote class="max-w-2xl font-display text-2xl leading-tight font-semibold text-black lg:text-4xl">
				"I spent 8 years climbing the ladder in{" "}
				<span class="text-violet-ray">pharma sales</span>. Good money, but I was missing bedtimes,
				school plays, everything that actually mattered. Six months after joining BCA, I'm earning
				more than I ever did on the road."
			</blockquote>

			<div class="mt-6">
				<p class="font-script text-2xl font-bold text-black">Camille D.</p>
				<p class="mt-1 text-black/60">Former Pharmaceutical Sales Rep, Mother of 3</p>
			</div>
		</div>

		<div class="relative isolate shrink-0">
			<div
				class="pointer-events-none absolute top-1/2 left-1/2 -z-10 h-136 w-136 -translate-x-1/2 -translate-y-1/2 bg-violet-ray/30 lg:h-176 lg:w-176"
				style="-webkit-mask-image: url(/butterflymask.webp); mask-image: url(/butterflymask.webp); -webkit-mask-size: contain; mask-size: contain; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center;"
				aria-hidden="true"
			>
			</div>
			<img
				src="/christina-wocintechchat-com-m-SJvDxw0azqw-unsplash_thumbnail.png"
				alt="Camille D."
				class="relative h-104 w-auto object-cover lg:h-136"
			/>
		</div>
	</div>
</section>
